<a href="https://colab.research.google.com/github/Alizabatool4268/Tuples_lists_basic_function_in_python/blob/main/pythonAssignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ALIZA BATOOL**

**THURSDAY (9-12)**

**ASSIGNMENT THREE**

#**BASIC LIST OPERATORS**

1. Create a list of five numbers and append a new number to it. Print the updated list.

In [ ]:
numbers:list[int] = [4,9,16,25,36]
numbers.append(49)
print(numbers)

[4, 9, 16, 25, 36, 49]

2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In [ ]:
extend_List:list[int]=[1,2,3]
extend_List.extend([4,5,6])
print(extend_List)

[1, 2, 3, 4, 5, 6]

3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
"Ruby"].

In [ ]:
language:list[str]= ["Java", "C++", "JavaScript", "Ruby"]
language.insert(2,"python")
print(language)

['Java', 'C++', 'python', 'JavaScript', 'Ruby']

4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In [ ]:
num:list[int] = [10, 20, 30, 10, 40]
num.remove(10)
print(num)

[20, 30, 10, 40]

5. Use the pop() method to remove the last element from [100, 200, 300, 400] and
print the modified list.

In [ ]:
num_List:list[int] = [100, 200, 300, 400]
num_List.pop()
print(num_List)

[100, 200, 300]

#**Intermediate List Operations**

6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

In [ ]:
count_apperance:list[int]= [5, 10, 5, 20, 5, 30]
print(count_apperance.count(5))

3

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

In [ ]:
sort_list:list[int]= [9, 1, 8, 3, 5]
sort_list.sort()
print("ascending",sort_list)
sort_list.sort(reverse=True)
print("Descenending order",sort_list)

ascending [1, 3, 5, 8, 9]
Descenending order [9, 8, 5, 3, 1]

8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

In [ ]:
fruits:list[str]= ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
copied list and print both lists.

In [ ]:
num_og:list[int]=[1, 2, 3, 4, 5]
num_modified = num_og[:5]
num_modified.append(6)
print("modified list",num_modified)
print("original list after modification ",num_og)

modified list [1, 2, 3, 4, 5, 6]
original list after modification  [1, 2, 3, 4, 5]

10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
method.

In [ ]:
lang =  ["hello", "world", "python"]
lang.clear()
print(lang)

[]

#**Tuple-Based Questions**

11. Create a tuple with 5 different fruits and print the third fruit.

In [ ]:
fruit_Tuple = ("apple","kiwi","banana","pear","mango")
print(fruit_Tuple[2])

('apple', 'kiwi', 'banana', 'pear', 'mango')

12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
it back into a tuple.

In [ ]:
num_Tuple=(10, 20, 30, 40, 50)
lst = list(num_Tuple)
print("tuple to list",lst)
lst.remove(30)
print("30 removed",lst)
back_to_tuple = tuple(lst)
print("Back to tuple",back_to_tuple)

tuple to list [10, 20, 30, 40, 50]
30 removed [10, 20, 40, 50]
Back to tuple (10, 20, 40, 50)

13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
modify a tuple indirectly?

In [ ]:
alphabets = ("A","B","C")
alphabets.append("E")
print(alphabets)

AttributeError: 'tuple' object has no attribute 'append'

Trying to append tuples is not allowed as tuples are not mutable we get an error message if we do so, justifying the above statement.

**ERROR MESSAGE: 'tuple' object has no attribute 'append'**

For mutating them them indirectly we can follow a procedure like as follows:

1-we can first convert the tuple into a list.

2-SInce a list in mutable, we can mutate it as our desire.

3-The final step is to convert it back in to a tuple.

In [ ]:
#Indirect mutating method
alphabets = ("A","B","C")
lst_alpha = list(alphabets)
print("converted to list",lst_alpha)
lst_alpha.append("E")
print("MOdified the list ",lst_alpha)
Tuple_convert = tuple(lst_alpha)
print("Back to tuple",Tuple_convert)

converted to list ['A', 'B', 'C']
MOdified the list  ['A', 'B', 'C', 'E']
('A', 'B', 'C', 'E')

14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

In [ ]:
nums=(100, 200, 300)
b,c,d = nums
print(b)
print(c)
print(d)

100
200
300

15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [ ]:
count=  (7, 1, 7, 3, 7, 5)
print(count.count(7))

3

#**Advanced Problems**

16. Write a function that takes a list and returns a new list with all even numbers removed.

In [ ]:
def remove_even_num (lst):
   return [num for num in lst if num % 2!=0]
removed_even = remove_even_num([2,3,4,9,33,11,99,24,4,7,0])
print(removed_even)

[3, 9, 33, 11, 99, 7]

17. Create a function that accepts a list and returns a new list with elements sorted in
descending order without using the sort() method.

In [ ]:
def descending_order (new_list):
  return sorted(new_list, reverse=True)
descending_order([1,2,88,9,44])

[88, 44, 9, 2, 1]

18. Given a list of numbers, write a program to remove all duplicate elements and print the
unique elements.

In [ ]:
def unique_num (number_lst):
  return[num for num in number_lst if number_lst.count(num)==1]
unique_num([1,2,3,4,4,4])
#used  the count funcTion for the check to exclude the redundant(reOccuring) numbers

[1, 2, 3]

19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
it into a list, remove duplicates, and convert it back to a tuple.

In [ ]:
names = ("Alice", "Bob", "Charlie", "Alice", "David")
names_list = list(names)
print("tuple to list",names_list)
remove_duplicates= set(names_list)
print("duplicates removed in list",remove_duplicates)
back_To_Tuple = tuple(remove_duplicates)
print(back_To_Tuple)

tuple to list ['Alice', 'Bob', 'Charlie', 'Alice', 'David']
duplicates removed in list {'Charlie', 'Bob', 'David', 'Alice'}
('Charlie', 'Bob', 'David', 'Alice')

20. Create a program that takes a list of mixed data types (int, str, float) and separates
integers into one list, strings into another, and floats into another.

In [ ]:
def separator (latest_list):
  string_values=[value for value in latest_list if isinstance(value, str) ]
  integer_values = [value for value in latest_list if isinstance(value, int)and not isinstance(value,bool)]
  float_values=[value for value in latest_list if isinstance(value, float)]
  return string_values,integer_values,float_values
string_lst,integer_lst,float_list =separator(["a","b",1,False,23.3,2,3,33.99,"i"])
print(string_lst)
print(integer_lst)
print(float_list)

['a', 'b', 'i']
[1, 2, 3]
[23.3, 33.99]